body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #5C5F58;
  color: #DCE1E3;
}

ol, ul {
  padding-left: 30px;
  color: #DCE1E3;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #DCE1E3;
  border: 1px solid #B73225;
  color: #004e7c;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  color: #DCE1E3;
}

.game-info {
  margin-left: 20px;
}

